.header {
	height: 60px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: var(--space-lg);
}

@media screen and (max-width: 500px) {
	.header {
		height: 85px;
	}

	.header__logo {
		flex-basis: 100%;
	}

	/* Overriding Searchbar Styles*/
	.header > .searchbar {
		width: 100%;
		margin-top: var(--space-lg);
		padding: 0 var(--space-md);
	}

	.header > .searchbar {
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width: 335px) {
	/* Overriding Searchbar Styles*/
	.header > .searchbar {
		padding: 0 var(--space-sm);
	}
}