.footer {
	font-size: 14px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: var(--color-grey-4);
}

.footer > p {
	width: 40%;
	border-top: 1px solid var(--color-grey-3);
	padding-top: var(--space-md);
}

.footer a {
	text-decoration: none;
	color: inherit;
}

.footer a:hover {
	text-decoration: underline;
}

.footer .footer__creator {
	text-decoration: underline;
	font-weight: bold;
}

@media screen and (max-width: 991.98px) {
	.footer > p {
		width: 60%;
	}
}

@media screen and (max-width: 767.98px) {
	.footer > p {
		width: 90%;
	}
}