:root {
  --main-font: 'Montserrat', sans-serif;
  --searchbar-font: 'Mulish', sans-serif;

  /* Spacing | Global */
  --space-unit: 1em;
  --space-xs: calc(0.20 * var(--space-unit));
  --space-sm: calc(0.7 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3 * var(--space-unit));
  --space-xxl: calc(5 * var(--space-unit));

  /* Colors | Global */
  --color-black: #333333;
  --color-white: #F2F2F2;

  --color-grey-1: #4F4F4F;
  --color-grey-2: #828282;
  --color-grey-3: #BDBDBD;
  --color-grey-4: #A9A9A9;

  --color-orange: #EB5757;

  /* Font sizes | Global */
  --text-lg: 24px;
  --text-md: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
  --text-xxs: 9px;
}

.material-icons {
  font-size: 18px;
  color: var(--color-orange);
}

.App {
  font-family: var(--main-font);
  margin: var(--space-md) var(--space-xxl);
}

.stays__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stays__place {
  font-size: var(--text-lg);
  color: var(--color-black);
}

.stays__total {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-grey-1);
}