:root {
  --main-font: 'Montserrat', sans-serif;
  --searchbar-font: 'Mulish', sans-serif;

  /* Spacing | Global */
  --space-unit: 1em;
  --space-xs: calc(0.20 * var(--space-unit));
  --space-sm: calc(0.7 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3 * var(--space-unit));
  --space-xxl: calc(5 * var(--space-unit));

  /* Colors | Global */
  --color-black: #333333;
  --color-white: #F2F2F2;

  --color-grey-1: #4F4F4F;
  --color-grey-2: #828282;
  --color-grey-3: #BDBDBD;
  --color-grey-4: #A9A9A9;

  --color-orange: #EB5757;

  /* Font sizes | Global */
  --text-lg: 24px;
  --text-md: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
  --text-xxs: 9px;

  /* Border size | Global */
  --border-value: 1px solid var(--color-white);
}

.material-icons {
  font-size: 18px;
  color: var(--color-orange);
}

.App {
  font-family: var(--main-font);
  margin: var(--space-md) var(--space-xxl);
}

.App__card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: var(--space-md);
  grid-row-gap: var(--space-xl);
  margin-bottom: var(--space-xxl);
}

.App__card-list .card {
  width: 100%;
}

.stays__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stays__place {
  font-size: var(--text-lg);
  color: var(--color-black);
}

.stays__total {
  font-size: var(--text-sm);
  font-weight: 500;
  color: var(--color-grey-1);
}

@media screen and (max-width: 767.98px) {
  .App {
    margin: var(--space-sm) var(--space-sm);
  }
}

@media screen and (max-width: 398px) {
  :root {
    --text-lg: 18px;
    --text-md: 14px;
    --text-sm: 12px;
    --text-xs: 10px;
  }

  .App__card-list .card__properties {
    height: 40px;
  }

  .App__card-list .card__image {
    height: 220px;
  }

  .App__card-list {
    grid-row-gap: var(--space-lg);
  }
}